
.aboutUs{
   margin-top:100px; 
  color:white;    
  

}
.AboutMeHeading{
    text-align:center;
    padding:100px 50px;
    font-size:117px;
    font-weight: 700;
    
    
}

.mainSection{
    display: flex;
    align-items: center;
    margin-left:12%;
    margin-top:5%;
    padding-bottom:100px;
}
img{
    max-width: 120%; /* Adjust the width of the image */
    padding: 10px;
    margin:50px 150px 50px 0px;

}
.textAboutMe{
    max-width: 100%; /* Adjust the width of the image */
  padding: 10px;
  font-size:30px;
  font-weight:800;
  
   
}
.centered-button{
  position: absolute;
  font-size:23px;
  left: 50%;
  margin-top:-100px;
  transform: translate(-50%, -50%);
}

.lottie-bg {
  z-index: -2;
  
  left: 0;
  right: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
   /* Just for demonstration */

}
.Background3{
  position:absolute;
  left:0;
  right:0;
}
