
.LandingPage{
margin-bottom:-10px;

}
.LandingPage{
        padding-bottom:54%;
}
.navLeftName{
    color:#121212;
    display:inline;
  position:absolute;
  font-weight:1000;
  top:50px;
  left:70px;
    
}
.nav{
z-index: 2;
}
.navRightSide{
    display:inline; 
    position:absolute;
    right:50px;
    top:50px;
    
}
.navRightSide > svg{
    margin:20px;
}
.mainLandingText{
    font-size:105px;
    color:rgb(0, 71, 171);
    font-weight:700;
    text-align: center;
    margin-top:20%;
   
}
.LottieDiv{
        width:600px;
        height:600px;
        margin-top:1200px;
        margin-left:20%;
        margin-bottom:-50%;
}

        .lottie-bg {
        z-index: -2;
        
        left: 0;
        right: 0;
        position: relative;
        margin-left: auto;
        margin-right: auto;
         /* Just for demonstration */

    }
 
.waveGuyBg{
        position:absolute;
        left:0;
        right:0;
}
.animation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transition: background-color 0.5s;
      }
      
      .animation-container.darken {
        background-color: #333; /* Adjust the color as needed */
      }
      .MyAwesomeParallaxBg{
        z-index: -2;
      }

.Living{
        color:#121212;
        font-weight:1000;
        font-size:105px;
        text-align: center;
        padding-top:10px;
        margin-top:-20px;
        background-color: white;;
        
}
.LottieDiv{
        display: flex;
        width:100%;
}
.bg-Lottie{
       perspective: 10000px;
        padding-bottom:200px;
}
@keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
.Important{
        
font-weight:800;
color:white;
text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        /* This ensures that the background color does not bleed into the outline */
        background-clip: text;
        -webkit-background-clip: text; /* For Safari */
        margin-top:-2%;
        font-size: 150px;
        width:100%;
        position:absolute;
        text-align: center;
   right:0;
   left:0;
   font-weight: bold;
   background: linear-gradient(45deg, #d3d3d3, #0f1b4471);
        -webkit-background-clip: text; /* For Safari */
        color: transparent;
        text-shadow: 1px 1px 2px hsla(0, 0%, 100%, 0.623);
        animation: gradientAnimation 2s linear infinite;
             
}

.bg2{
        position:absolute;
        left:0;
        right:0;        
        top:150%;
        transform: rotate(180deg);
        
}
.contentLandingPage{
        margin-top:450px;
}
